/* Font family: Outfit */
@font-face {
    font-family: "Outfit";
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format("truetype");
}

/* Font family: Young Serif */
@font-face {
    font-family: "Young Serif";
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --document-font-size: ;*/
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 18%, 87%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
    --line-height-200: 200%;
    --line-height-140: 140%;
}

body {
    height: 100vh;
    width: 100%;
    font-family: "Outfit", serif;
}

h1,
h2,
h3 {
    font-family: "Young Serif", serif;
    font-weight: var(--fw-500);
}

h2,
h3 {
    color: var(--brown-800);
}

hr {
    border: 1px solid var(--rose-50);
}

@media screen and (max-width: 399px) {
    body {
        font-size: 14px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        line-height: var(--line-height-140);
        letter-spacing: 0.2px;
    }

    img {
        height: 175px;
    }
    
    .container,
    .recipe-card,
    img {
        width: 100%;
    }

    .container,
    .recipe-card {
        height: 100vh;
    }

    .recipe-info,
    .name-and-desc,
    .ingredients,
    .instructions,
    .nutrition,
    .nutritional-table {
        display: flex;
        flex-direction: column;
    }

    .recipe-info {
        background-color: var(--white);
        color: var(--stone-900);
        padding: 25px;
        gap: 24px;
    }

    .name-and-desc {
        gap: 16px;
    }

    .preparation-card {
        background-color: var(--rose-50);
        padding: 20px 20px 10px;
        border-radius: 5px;
        line-height: var(--line-height-200);
    }

    .preparation-card p {
        color: var(--rose-800);
        font-size: 18px;
    }

    .preparation-card ul {
        margin-left: 15px;
        padding: 10px;
    }

    .highlight,
    .preparation-card p {
        font-weight: var(--fw-600);
    }

    .ingredients,
    .instructions {
        line-height: var(--line-height-200);
        gap: 16px;
    }

    .ingredients ul,
    .instructions ol {
        margin-left: 25px;
    }

    .nutrition {
        line-height: var(--line-height-200);
        gap: 24px;
    }

    .nutritional-table {
        gap: 22px;
    }

    .table-value {
        display: inline-flex;
        justify-content: space-around;
    }

    .table-value .highlight {
        color: var(--brown-800)
    }
}

@media screen and (min-width: 400px) and (max-width: 799px), (min-width: 800px) {
    body {
        font-size: 8px;
    }

    p {
        line-height: var(--line-height-140);
        letter-spacing: 0.2px;
    }

    img {
        height: 175px;
        width: 335px;
        border-radius: 5px;
    }

    hr {
        display: none;
    }

    .container {
        display: flex;
    }

    .recipe-info,
    .name-and-desc,
    .ingredients,
    .instructions {
        display: flex;
        flex-direction: column;
    }
    
    .container {
        height: inherit;
        width: inherit;
        background-color: var(--stone-100);
        justify-content: center;
        align-items: center;
    }

    .recipe-card {
        height: 90vh;
        width: 375px;
        background-color: var(--white);
        border-radius: 10px;
        padding: 20px;
    }

    .recipe-info {
        width: 335px;
        color: var(--stone-900);
        flex-wrap: wrap;
        gap: 5px;
    }

    .name-and-desc {
        margin-top: 10px;
        gap: 10px;
    }

    .preparation-card {
        margin-top: 10px;
        background-color: var(--rose-50);
        padding: 10px 10px 0px 15px;
        border-radius: 5px;
        line-height: var(--line-height-200);
    }

    .preparation-card p {
        color: var(--rose-800);
        font-size: 12px;
    }

    .preparation-card ul {
        margin-left: 15px;
        padding: 10px;
    }

    .highlight,
    .preparation-card p {
        font-weight: var(--fw-600);
    }

    .ingredients {
        margin-top: 5px;
        line-height: 200%;
        gap: 10px;
    }

    .ingredients ul {
        margin-left: 25px;
    }

    .instructions {
        line-height: var(--line-height-200);
        gap: 10px;
    }

    .instructions ol {
        margin-left: 20px;
    }

    .nutrition {
        display: none;
    }
}