/* Font family: Outfit */
@font-face {
    font-family: "Outfit";
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format("truetype");
}

/* Font family: Young Serif */
@font-face {
    font-family: "Young Serif";
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --document-font-size: 16px;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 18%, 87%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

h1,
h2,
h3 {
    font-family: "Young Serif", serif;
    font-weight: var(--fw-500);
}

h2,
h3 {
    color: var(--brown-800);
}

body, 
p {
    font-family: "Outfit", serif;
    font-size: var(--document-font-size);
}

/* br {
    
} */

@media screen and (max-width: 399px) {
    img,
    .container,
    .recipe-card {
        width: 100%;
    }

    .container,
    .recipe-card {
        height: 100vh;
    }
    
    img {
        height: 175px;
    }

    /* h2 {
        line-height: 120%;
    } */

    body,
    p {
        font-size: 14px;
    }

    p {
        line-height: 140%;
        letter-spacing: 0.2px;
    }

    .recipe-info {
        background-color: var(--white);
        color: var(--stone-900);
        padding: 25px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .name-and-desc {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .preparation-card {
        background-color: var(--rose-50);
        padding: 20px 20px 10px;
        border-radius: 5px;
        line-height: 200%;
    }

    .preparation-card p {
        color: var(--rose-800);
        /* font-size: var(--document-font-size); */
        font-size: 18px;
        font-weight: var(--fw-600);
    }

    .preparation-card ul {
        margin-left: 15px;
        padding: 10px;
    }

    .highlight {
        font-weight: var(--fw-600);
    }

    h2 {
        font-size: 24px;
        /* line-height: 120%; */
    }

    .ingredients {
        line-height: 200%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .ingredients ul {
        margin-left: 25px;
    }

    .instructions {
        line-height: 200%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .instructions ol {
        margin-left: 25px;
    }

    .nutrition {
        line-height: 200%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .nutrition .nutritional-table {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    .nutrition .nutritional-table .table-value {
        display: inline-flex;
        justify-content: space-around;
        gap: 16px;
    }

    .nutrition .nutritional-table .table-value .highlight {
        color: var(--brown-800)
    }
}

/* @media screen and (min-width: 400px) and (max-width: 699px), (min-width: 700px) {
    body {
        height: 100vh;
        width: 100%;
    }

    body,
    p {
        font-size: 14px;
    }

    p {
        line-height: 140%;
        letter-spacing: 0.2px;
    }

    img {
        height: 200px;
        width: 335px;
        border-radius: 5px;
    }
    
    .container {
        height: inherit;
        width: inherit;
        background-color: var(--stone-100);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recipe-card {
        height: 80vh;
        width: 375px;
        background-color: var(--white);
        border-radius: 10px;
        padding: 20px;
    }

    .recipe-info {
        width: 335px;
        color: var(--stone-900);
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .name-and-desc {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .preparation-card {
        background-color: var(--rose-50);
        padding: 20px 20px 10px;
        border-radius: 5px;
        line-height: 200%;
    }
} */